{% load static %}
<footer id="main-footer">
    <div class="container d-md-flex align-items-center justify-content-between py-2 text-center text-md-left">
        <ul class="list-inline font-size-sm mb-3 mb-md-0 order-md-2">
            <li class="list-inline-item my-1"><a class="text-decoration-none" href="#">Support</a></li>
            <li class="list-inline-item my-1"><a class="text-decoration-none" href="#">Contacts</a></li>
            <li class="list-inline-item my-1"><a class="text-decoration-none" href="{% url 'about' %}">About</a></li>
            <li class="list-inline-item my-1"><a class="text-decoration-none" href="#">Terms &amp; Conditions</a></li>
            <li class="list-inline-item my-1"><a class="text-decoration-none" href="{% url 'home' %}">Back to home</a></li>
        </ul>
        <p class="font-size-sm mb-0 mr-3 order-md-1"><span class="text-decoration-none">
            © 2020-ITEM7, Restaurant. Made by</span>
            <a class="text-decoration-none font-weight-normal" href="/"
               target="_blank" rel="noopener">Favour Elodimuor</a><br><br>
            <a href="https://www.facebook.com/favour.elodimuor/">
                <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a>
            <a href="https://www.twitter.com/felodimuor/">
                <img src="https://img.icons8.com/color/48/000000/twitter-squared.png"/></a>
            <a href="/">
                <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            </a><br><br>
            <span style="color: #f5a637;" class="text-decoration-none">
            OPENING HOURS</span><br>
            <span class="text-decoration-none">
            Monday - Thursday</span><br>
            <span class="text-decoration-none">
            10:00 AM - 11:00 PM</span><br>
            <span class="text-decoration-none">
            Friday - Sunday</span><br>
            <span class="text-decoration-none">
            12:00 AM - 03:00 AM</span>
        </p>
    </div>
</footer>
