

<style>
element.style {
}
.section_gray {
    background-color: rgb(240, 240, 240);
}
.section {
    padding: 3rem 0px;
}
.section, body {
    position: relative;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
<style>
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
<style>
body {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
    color: rgb(119, 119, 119);
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}
<style>
*, ::after, ::before {
    box-sizing: border-box;
}


.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}
<style>
*, ::after, ::before {
    box-sizing: border-box;
}


.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
<style>
*, ::after, ::before {
    box-sizing: border-box;
}


*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}

</style>


<section class="section section_reservation section_gray" id="section_reservation">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Heading -->
                <h2 class="section__heading text-center">
                    Make online reservation
                </h2>

                <!-- Subheading -->
                <p class="section__subheading text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum,
                    beatae maiores quae qui.
                </p>

            </div>
        </div> <!-- / .row -->
        <div class="row justify-content-lg-center  section_reservation__row">
            <div class="col-lg-8">

                <!-- Form -->
                <form class="section_reservation__form" id="reservation__form" method="POST" action="/reservation">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="sr-only" for="reservation__form__name">Full name</label>
                                <input type="text" class="form-control" id="reservation__form__name"
                                       name="full_name" placeholder="Full name">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="reservation__form__phone">Phone number</label>
                                <input type="tel" class="form-control" id="reservation__form__phone"
                                       name="phone" placeholder="Phone number">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="reservation__form__email">E-mail address</label>
                                <input type="email" class="form-control" id="reservation__form__email"
                                       name="email" placeholder="E-mail address">
                                <div class="invalid-feedback"></div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="reservation__form__people">People</label>
                                <select class="form-control" id="reservation__form__people"
                                        name="people">
                                    <option value="1">1 person</option>
                                    <option value="2" selected="">2 persons</option>
                                    <option value="3">3 persons</option>
                                    <option value="4">4 persons</option>
                                    <option value="5">5 persons</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="reservation__form__date">Date</label>
                                <input type="date" class="form-control" id="reservation__form__date"
                                       name="date">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="reservation__form__time">Time</label>
                                <input type="time" class="form-control" id="reservation__form__time"
                                       name="time">
                                <div class="invalid-feedback"></div>
                                {% for message in messages %}
                                <small style="color:red"> {{ message }} </small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger">
                                    Reserve a table
                                </button>
                            </div>
                        </div>
                    </div> <!-- / .row -->
                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
